$font-body: Inter;
$font-title: Merriweather, serif;

$color-title: #080808;
$color-body: #161616;

$body-white: #F5F5F5;

$highlight-dark: #DEC79B;
$highlight-white: #00416A;

$color-link: #254598;
$color-hover: #32064A;

$footer-gradient-fg: #161616;
$footer-gradient-mg: #323232;
$footer-gradient-bg: #484848;
